.header {
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #90BF19;
    text-align: left;
    display: inline-block;
}

.htwo {
    padding: 10px;
    display: inline-block;
}

.newQdiv{
    padding: 10px;
    display: inline-block;
    float:right;
    margin-right: 10px;
}

.newQButt{
    padding: 10px;
    background-color: #DF7401;
    color: white;
    cursor: pointer;
}

.resetDiv {
    padding: 10px;
    display: inline-block;
    float: right;
}

.reset {
    padding: 10px;
    background-color: #7401DF;
    color: white;
    cursor: pointer;
}

.questionContainer {
    margin-bottom: 5px;
    background-color:#d3e5f1;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    text-align: left;
}

.Question {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
}

.Answer {
    color: purple;
    margin-left: 10px;
    margin-bottom:10px;
}

.Edit {
    width:auto;
    position: absolute;
    left: 10px;
    color: blue;
    cursor: pointer;
    bottom:2px;
    font-size:10px;
    display:inline-block;
    margin-left:10px;
    text-decoration: underline;
}
.Type {
    width: auto;
    margin-top:10px;
/*     display: flex;
    justify-content: flex-end; */
    display:inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #ff005c;
    color: white;
    font-size:10px;
    position: absolute;
    cursor: pointer;
    right: 5px;
    bottom:5px;
}

.Pager {
    /*margin-top: 20px;*/
    padding: 10px;
    text-align: center;
    margin:0 auto;
}

.Previous,.Next {
    display: inline-block;
    font-size: 16px;
    width: 20px;
    padding: 2px;
    border: solid 1px #5b5a39;
    background-color:#97b2d6;
    cursor: pointer;
}

.Previous:hover, .Next:hover {
    background-color:#2e55af;
}

.PageItem {
    display: inline-block;
    font-size: 16px;
    width: 20px;
    padding: 2px;
    border: solid 1px #5b5a39;
    background-color:#f9aa7f;
    color: black;
    cursor: pointer;
}

.PageItem:hover{
    background-color: #5c0949;
    color: white;
}